<div class ="container">
	<div class ="row">
		<div class ="col-xs-3 col-md-3">
			<h2>User</h2>
			<%= render 'users/profile', user: @user %>

<div class="row">
</div>
			<h2>NEW BOOK</h2>
			<%= render 'books/form', book: @book %>
		</div>
		<div class="col-xs-9 col-md-9">
		</div>

	</div>
</div>