<div class ="container">
	<div class ="row">
		<div class="col-md-6 offset-md-3 col-xs-8 offset-xs-2">
			<h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
			<p>In Bookers,<br>
			you can share and exchange your opinions , inpressions , and emotions<br>
			about various books!</p>

			<%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-block" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-block" %>
		</div>
	</div>
</div>